################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Sistema Reservas Admin/Sistema Reservas Admin/appsettings.json
